/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* COMMON */
html {
  font-family: 'Noto Sans', sans-serif;
}

.container {
  width: 50%;
  margin: 0 auto;
}

h2 {
  margin-top: 5rem;
}

h3 {
  margin-top: 4rem;
}

p {
  margin-top: 2rem;
  font-size: .9rem;
  line-height: 1.4rem;
}

a {
  text-decoration: none;
  color: #337fe2;
}

i {
  font-size: .6rem;
  color: #337fe2;
}

ol {
  
  font-size: .9rem;
  line-height: 1.4rem;
}

li {
  margin-left: 1rem;
  margin-top: 2rem;
}